/practica1/ideas.txt
/practica1/Codigo/Clases.dia
/practica1/Codigo/Clases.png
/practica1/Codigo/palabras_frecuencias.txt
/practica1/Codigo/ejemplo.txt
/practica1/Codigo/programa
/practica1/Codigo/ola.txt
/practica1/Codigo/frecuencia_ejemplo.txt
/practica1/Codigo/frecuencia_palabras.txt

/practica1/words.txt

Practica1.pdf
1.exe