/practica1/ideas.txt
/practica1/Codigo/Clases.dia
/practica1/Codigo/Clases.png
/practica1/Codigo/Makefile
/practica1/Codigo/palabras_frecuencias.txt
/practica1/Codigo/ejemplo.txt
/practica1/Codigo/programa

Practica1.pdf
1.exe